.bg_body{ 
    margin: 0;
    background-color: #220d17;
    color: white;
}

/*------text----*/

h1{
    color: white;
    font-style: bold;
    /*------rendere il titolo responsive (8vw ok x dextop, no per phone) ----*/
    font-size: 128px;
    font-weight: 700;
    align-content: center;
}
h2{
  color: white;
  text-align: center;
}

.trirong-bold {
    font-family: "Trirong", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.logo{font-size: 24px;}

.monsieur-la{
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
  }

.p1{
    color: white;
    font-size: 40px;
    text-align: center;
  }

.p2{
  font-size: 25px;
}

.p3{font-size: 14px;
  line-height:20px;
  text-align: center;
}

.line_height{ line-height: 35px;
}

.tr_text{
  white-space: nowrap; 
  width: 500px; 
  overflow: hidden;
  text-overflow: ellipsis;
}

div.a:hover {
  overflow: visible;
}

/*-----color----*/

.c_dark{background-color: #000;}
.c_dark_pirple{background-color:#220d17;}
.c_red_bean{background-color:#3c1518;}
.c_blood_red{background-color:#69140e;}
.c_brown{background-color:#a44200;}
.c_bronze{background-color:#d58936;}
.c_vanilla{background-color:#f2f3ae;}
.c_green{background-color: rgb(18, 211, 18);}
.invert {filter: invert(100%);}

  /*-----forme-----5*/

.square {
    height: 200px;
    width: 200px;
    padding: 20px;
  }

.container_forms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content:space-around;
    gap: 10px;
 }
.flex_reverse{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
/* ------box size-------*/
  
  
.corner1{border-radius: 5px 100px 5px 5px;}
.corner2{border-radius: 100px 5px 100px 5px;}
.corner3{border-radius: 100px 100px 100px 5px;}
.corner4{border-radius: 5px 100px 5px 100px;}
.corner5{border-radius: 100px 5px 5px 5px;}

/*------img------*/

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.bg_img{
  background-color: #a44200;
  background-image: url("../assets/planet.jpg");
  height: 700px;
}

.bg_text{
  background-color: #3c1518;
  border-radius: 20px;
 }
.radius{
  width: 500px;
  border-radius: 40%;
}
.mask1{
  mask-image:url("../assets/AN.png");
  mask-repeat: no-repeat;
  align-items: center;
  
}
.size_img{
  display: flex;
  flex-direction: column;
  width:40%;
  margin-left: auto;
  margin-right: auto;
}

.icons_direction{
  flex-direction: row;
}

.items{
  align-items: center;
}
hr{
  border: 1px solid #f2f3ae;
}

.sez{
  justify-content: center;
  text-align: center;
}